MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>/<database>?retryWrites=true&w=majority
OPENAI_API_KEY=<your_openai_api_key>
ML_ACCESS_TOKEN=<your_ml_access_token>
FRONT_END_URLS=http://localhost:3000,http://localhost:4200
DO_SPACES_ENDPOINT=https://fra1.digitaloceanspaces.com
DO_SPACES_CDN=https://<your-space>.fra1.cdn.digitaloceanspaces.com
DO_SPACES_KEY=<your_do_spaces_key>
DO_SPACES_SECRET=<your_do_spaces_secret>
DO_SPACES_NAME=<your_do_spaces_name>
MAIN_FE_DOMAIN=https://tokentails.com
INVALIDATE_CACHE_SECRET=<your_invalidate_cache_secret>
IS_PROD=false
STRIPE_SECRET_KEY=<your_stripe_secret_key>
STRIPE_PUBLISHABLE_KEY=<your_stripe_publishable_key>
GOOGLE_AI_API_KEY=<your_google_ai_api_key>
STRIPE_WEBHOOK_SECRET=<your_stripe_webhook_secret>
GTM_ID=<your_gtm_id>
FB_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n<your_private_key>\n-----END PRIVATE KEY-----\n"
SENDGRID_API_KEY=<your_sendgrid_api_key>
PRINTIFY_API_KEY=<your_printify_api_key>
