@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-datetime-picker/dist/DateTimePicker.css';
@import 'react-calendar/dist/Calendar.css';
@import 'react-clock/dist/Clock.css';

@font-face {
  font-family: 'paws';
  src: url('/font.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.glow {
  // -webkit-text-stroke: 2px #ffe89a; /* thick outer rim */
  text-shadow:
    0 0 5px #ffe89a,
    0 0 12px #ffcf66,
    0 0 25px #ffb84d;
}

.glow-box {
  border-radius: 16px;

  box-shadow:
    0 0 3px #ffe89a,
    0 0 8px #ffe89a,
    0 0 12px #ffdd71,
    0 0 15px #ffcc55;
}

.glow-box-ELECTRIC {
  border-radius: 20px;
  box-shadow:
    0 0 3px #fff9b8,
    0 0 8px #fff9b8,
    0 0 12px #ffdd71,
    0 0 15px #ffcc55;
}

.glow-box-FIRE {
  border-radius: 20px;
  box-shadow:
    0 0 3px #ffdbf1,
    0 0 8px #ffdbf1,
    0 0 12px #f95f5f,
    0 0 15px #ef5151;
}

.glow-box-ICE {
  border-radius: 20px;
  box-shadow:
    0 0 3px #d4e7f4,
    0 0 8px #d4e7f4,
    0 0 12px #a0d1f0,
    0 0 15px #90c5e9;
}

.glow-box-SAND {
  border-radius: 20px;
  box-shadow:
    0 0 3px #fcddc3,
    0 0 8px #fcddc3,
    0 0 12px #f9ba88,
    0 0 15px #f8b27a;
}

.glow-box-WATER {
  border-radius: 20px;
  box-shadow:
    0 0 3px #80c5ff,
    0 0 8px #80c5ff,
    0 0 12px #68b3e7,
    0 0 15px #57a2d6;
}

.glow-box-WIND {
  border-radius: 20px;
  box-shadow:
    0 0 3px #ffffff,
    0 0 8px #ffffff,
    0 0 12px #d2d2d2,
    0 0 15px #c2c2c2;
}

.glow-box-AIR {
  border-radius: 20px;
  box-shadow:
    0 0 3px #ffffff,
    0 0 8px #ffffff,
    0 0 12px #d2d2d2,
    0 0 15px #c2c2c2;
}

.glow-box-GRASS {
  border-radius: 20px;
  box-shadow:
    0 0 3px #b3e7db,
    0 0 8px #b3e7db,
    0 0 12px #68d0b6,
    0 0 15px #57c2a5;
}

.glow-box-STELLAR {
  border-radius: 20px;
  box-shadow:
    0 0 3px #c5bdff,
    0 0 8px #c5bdff,
    0 0 12px #8b7cff,
    0 0 15px #7a6cf0;
}

.glow-box-FAIRY {
  border-radius: 20px;
  box-shadow:
    0 0 3px #ff6fc6,
    0 0 8px #ff6fc6,
    0 0 12px #f9ba88,
    0 0 15px #f8b27a;
}

.glow-box-DARK {
  border-radius: 20px;
  box-shadow:
    0 0 3px #a9a9a9,
    0 0 8px #a9a9a9,
    0 0 12px #545454,
    0 0 15px #434343;
}

@keyframes scrollImage {
  0% {
    object-position: center top;
  }
  50% {
    object-position: center bottom;
  }
  100% {
    object-position: center top;
  }
}

.scroll-image-animation {
  animation: scrollImage 15s ease-in-out infinite;
  object-position: center top;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Firefox */
input[type='search']::-moz-search-cancel-button {
  display: none;
}

/* Microsoft Edge */
input[type='search']::-ms-clear {
  display: none;
}
