@use "sass:map";
@use "sass:meta";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Pixelify+Sans:wght@400..700&display=swap");
@include meta.load-css("../styles/snow.scss");
@include meta.load-css("../styles/chamomile.scss");

$breakpoints: (
  "mobile": 767px,
  "md": 667px,
  "lg": 1024px,
  "xl": 1280px,
  "2xl": 1536px,
  "3xl": 2300px,
);

@font-face {
  font-family: "paws";
  src: url("/font.woff2") format("woff2");
}

[data-testid="modal-content"] {
  @apply bg-white rounded-3xl border-[8px] border-yellow-300 !important;
}

$custom-background: linear-gradient(90.26deg, #c1260f 0.34%, #ee642a 96.66%);

@mixin device($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}.";
  }
}

.pixelated {
  image-rendering: pixelated;
}

#__next {
  min-height: 100%;
}

@media (max-width: 640px) {
  html {
    font-size: calc(100vw / 25);
  }

  .video > div:not(.play-handler) {
    width: 100vw;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  @apply text-gray-800;
  font-family: "Nunito", sans-serif;
  background: #fea68e;
  overscroll-behavior: contain;
  touch-action: pan-x pan-y;
}

*,
*:hover {
  cursor: url("/cursor/cursor.png"), auto;
}
html {
  scroll-behavior: smooth;
}

.container {
  @apply m-auto max-w-[94rem] px-4 md:px-8 2xl:px-0;

  &.no-p-mobile {
    @include device(mobile) {
      padding: 0 !important;
    }
  }
}

@keyframes transition-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.transition-animation {
  animation: transition-animation 1s ease-in;
}

@keyframes expand-rev {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}
/* TITLE END */

.core {
  inset: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-position: center;
}

// SWIPER STYLES

.swiper {
  width: 100%;
  padding-top: 10px !important;
  padding-bottom: 45px !important;

  @include device("md") {
    padding-top: 25px !important;
    padding-bottom: 50pxpx !important;
  }

  @include device("lg") {
    padding-top: 25px !important;
    padding-bottom: 75px !important;
  }

  @include device("2xl") {
    padding-top: 25px !important;
    padding-bottom: 75px !important;
  }

  @include device("3xl") {
    padding-top: 25px !important;
    padding-bottom: 150px !important;
  }
}

:root {
  --swiper-pagination-color: linear-gradient(
      90.26deg,
      #c1260f 0.34%,
      #ee642a 96.66%
    ),
    linear-gradient(0deg, #fff7f7, #fff7f7) !important;
  --swiper-navigation-color: #ffffff !important;
  --swiper-pagination-bullet-inactive-color: #9966cc !important;
  --swiper-pagination-bottom: 8px;
}

.default-slider {
  .swiper-slide {
    width: 75% !important;

    @include device(md) {
      width: 50% !important;
    }

    @include device(xl) {
      width: 40% !important;
    }

    @include device("2xl") {
      width: 30% !important;
    }

    @include device("3xl") {
      width: 25% !important;
    }
  }
}

.column-slider {
  .swiper-slide {
    @include device(md) {
      width: 75% !important;
    }

    @include device(xl) {
      width: 70% !important;
    }

    @include device("2xl") {
      width: 65% !important;
    }

    @include device("3xl") {
      width: 60% !important;
    }
  }
}
.swiper-pagination {
  margin-bottom: -10px !important;
  &-bullet {
    width: 15px !important;
    height: 15px !important;
  }
  &-bullet-active {
    width: 20px !important;
    height: 20px !important;
  }
}
// SWIPER STYLES END

// CUSTOM SCROLLBAR START

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  @apply bg-red-400;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

// CUSTOM SCROLLBAR END

//CUSTOM GRADIENT TEXT

.custom-gradient-text {
  background: -webkit-linear-gradient(90.26deg, #c1260f 0.34%, #ee642a 96.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover\:custom-gradient-text:hover {
  background: -webkit-linear-gradient(90.26deg, #c1260f 0.34%, #ee642a 96.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

$n: 20;

.slider {
  min-height: 5rem;
  margin: auto;
  width: 100%;
  max-width: 100vw;
}
.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(350px * $n);
  overflow: hidden;

  &.inverse {
    animation: scroll-inverse 40s linear infinite;
  }
}
.slide-track-airdrop {
  animation: scroll-airdrop 9s linear infinite;
  display: flex;
  gap: 8px;
  width: calc(264px * 12);
  overflow: hidden;
}
.slider .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-left: 80px;
}
.slider:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent,
    transparent 10%,
    transparent 90%,
    transparent
  );
  z-index: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * $n/2));
  }
}
@keyframes scroll-airdrop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-264px * 3));
  }
}
@keyframes scroll-inverse {
  0% {
    transform: translateX(calc(-250px * $n/2));
  }
  100% {
    transform: translateX(0);
  }
}
.animated-block {
  opacity: 1;
  animation: slide-in-up 2s forwards;
}
@keyframes slide-in-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  20% {
    opacity: 15%;
  }
  40% {
    opacity: 1;
    transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in {
  animation: fadeInAnimation 1.5s ease forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.invisible-block {
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.pt-safe {
  padding-top: env(safe-area-inset-top);
}

.mt-safe {
  margin-top: env(safe-area-inset-top);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.mb-safe {
  margin-bottom: env(safe-area-inset-bottom);
}

// swipper override
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  border-radius: 24px;
}
// swipper override end

// DISABLE SELECTION
*:not(input, textarea) {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
// DISABLE SELECTION END

// ARTICLE CONTENT STYLINGS
/* ARTICLE CONTENT STYLINGS */
/* Paragraphs */

.article-content article p {
  @apply text-main-black;
}

.article-content p {
  @apply my-6 mx-0;
}
/* Images */
.article-content img {
  @apply mt-6 mx-auto justify-center;
}
.article-content .image-container {
  @apply my-6 mx-auto;
  max-width: 480px;
}
.article-content .image-container figcaption,
.main-figure figcaption {
  @apply mt-4 text-center text-p3 text-main-rusty;
}
.article-content a {
  @apply text-amber-600 bg-yellow-300 px-4 py-1 rounded-xl;
}

.article-content h2 {
  @apply text-p2 font-secondary font-semibold capitalize;
}

.article-content h3 {
  @apply text-p2 font-secondary font-semibold capitalize;
}

.article-content ul li {
  @apply list-disc;
}

.article-content ol li {
  @apply list-decimal;
}

.article-content ol,
.article-content ul {
  @apply my-4 ml-6;
}

.article-content iframe {
  max-width: 100%;
  width: 100%;
}

.article-content ol li,
.article-content ul li {
  @apply ml-2 md:ml-0 mb-2;
}

.article-content ul li::marker,
.article-content ol li::marker {
  @apply text-main-ember font-semibold;
}
// ARTICLE CONTENT STYLINGS END

// DRAG AROUND ANIMATION

.draggable {
  position: absolute;
  width: 50px;
  height: 50px;
  animation: moveAround ease-in-out 8s infinite alternate;
  opacity: 50%;
}

/* Define the animation to move the element around randomly */
@keyframes moveAround {
  0% {
    top: 10%;
    left: 10%;
    rotate: 45deg;
  }
  25% {
    top: 10%;
    left: 80%;
  }
  50% {
    top: 80%;
    left: 80%;
    rotate: 30deg;
  }
  75% {
    top: 80%;
    left: 10%;
    rotate: 15deg;
  }
  100% {
    top: 10%;
    left: 10%;
    rotate: 30deg;
  }
}

// DRAG AROUND ANIMATION ENDS
@keyframes garlandEffect {
  0% {
    filter: drop-shadow(0px 0px 5px rgba(255, 215, 0, 1))
      drop-shadow(0px 0px 15px rgba(255, 0, 0, 0.8));
  }
  25% {
    filter: drop-shadow(0px 0px 10px rgba(0, 255, 0, 1))
      drop-shadow(0px 0px 20px rgba(0, 0, 255, 0.8));
  }
  50% {
    filter: drop-shadow(0px 0px 5px rgba(0, 255, 255, 1))
      drop-shadow(0px 0px 15px rgba(255, 0, 255, 0.8));
  }
  75% {
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 0, 1))
      drop-shadow(0px 0px 20px rgba(0, 255, 0, 0.8));
  }
  100% {
    filter: drop-shadow(0px 0px 5px rgba(255, 215, 0, 1))
      drop-shadow(0px 0px 15px rgba(255, 0, 0, 0.8));
  }
}
.animated-garland {
  animation: garlandEffect 3s infinite ease-in-out;
}

.progress {
  -webkit-appearance: none;
}

.progress::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 10px;
}

.progress::-webkit-progress-value {
  background-color: #fe1413;
  border-radius: 10px;
  background-size: 30px 30px;
  background-image: linear-gradient(
    135deg,
    rgb(255, 255, 255) 25%,
    transparent 15%,
    transparent 50%,
    rgb(255, 255, 255) 50%,
    rgb(255, 255, 255) 75%,
    transparent 75%,
    transparent
  );
}
$pixel-bg: #6ec207;
$pixel-border: black;
$pixel-border-2: white;
$pixel-border-3: $pixel-border;
$pixel: 0.225rem;

.pixel-border {
  box-shadow: 
    // Inner Background Color
    0 calc($pixel * -3) 0 calc($pixel * -1) $pixel-bg,
    0 calc($pixel * 3) 0 calc($pixel * -1) $pixel-bg,
    0 calc($pixel * -6) 0 calc($pixel * -2) $pixel-bg,
    0 calc($pixel * 6) 0 calc($pixel * -2) $pixel-bg,
    0 calc($pixel * -9) 0 calc($pixel * -4) $pixel-bg,
    0 calc($pixel * 9) 0 calc($pixel * -4) $pixel-bg,
    0 calc($pixel * -12) 0 calc($pixel * -6) $pixel-bg,
    0 calc($pixel * 12) 0 calc($pixel * -6) $pixel-bg,
    // Pixel Border Layer 1
    calc($pixel * -1) 0 0 0 $pixel-border,
    $pixel 0 0 0 $pixel-border, 0 calc($pixel * -2) 0 0 $pixel-border,
    0 calc($pixel * 2) 0 0 $pixel-border,
    0 calc($pixel * -5) 0 calc($pixel * -1) $pixel-border,
    0 calc($pixel * 5) 0 calc($pixel * -1) $pixel-border,
    0 calc($pixel * -7) 0 calc($pixel * -2) $pixel-border,
    0 calc($pixel * 7) 0 calc($pixel * -2) $pixel-border,
    0 calc($pixel * -10) 0 calc($pixel * -4) $pixel-border,
    0 calc($pixel * 10) 0 calc($pixel * -4) $pixel-border,
    0 calc($pixel * -13) 0 calc($pixel * -6) $pixel-border,
    0 calc($pixel * 13) 0 calc($pixel * -6) $pixel-border,
    // Pixel Border Layer 2
    calc($pixel * -2) 0 0 0 $pixel-border-2,
    calc($pixel * 2) 0 0 0 $pixel-border-2,
    0 calc($pixel * -1) 0 $pixel $pixel-border-2,
    0 $pixel 0 $pixel $pixel-border-2, 0 calc($pixel * -4) 0 0 $pixel-border-2,
    0 calc($pixel * 4) 0 0 $pixel-border-2,
    0 calc($pixel * -6) 0 calc($pixel * -1) $pixel-border-2,
    0 calc($pixel * 6) 0 calc($pixel * -1) $pixel-border-2,
    0 calc($pixel * -8) 0 calc($pixel * -2) $pixel-border-2,
    0 calc($pixel * 8) 0 calc($pixel * -2) $pixel-border-2,
    0 calc($pixel * -11) 0 calc($pixel * -4) $pixel-border-2,
    0 calc($pixel * 11) 0 calc($pixel * -4) $pixel-border-2,
    0 calc($pixel * -14) 0 calc($pixel * -6) $pixel-border-2,
    0 calc($pixel * 14) 0 calc($pixel * -6) $pixel-border-2,
    // Border Layer 3: $pixel-border-3
    calc($pixel * -3) 0 0 0 $pixel-border-3,
    calc($pixel * 3) 0 0 0 $pixel-border-3,
    0 0 0 calc($pixel * 2) $pixel-border-3,
    0 calc($pixel * -3) 0 $pixel $pixel-border-3,
    0 calc($pixel * 3) 0 $pixel $pixel-border-3,
    0 calc($pixel * -5) 0 0 $pixel-border-3,
    0 calc($pixel * 5) 0 0 $pixel-border-3,
    0 calc($pixel * -7) 0 calc($pixel * -1) $pixel-border-3,
    0 calc($pixel * 7) 0 calc($pixel * -1) $pixel-border-3,
    0 calc($pixel * -9) 0 calc($pixel * -2) $pixel-border-3,
    0 calc($pixel * 9) 0 calc($pixel * -2) $pixel-border-3,
    0 calc($pixel * -12) 0 calc($pixel * -4) $pixel-border-3,
    0 calc($pixel * 12) 0 calc($pixel * -4) $pixel-border-3,
    0 calc($pixel * -15) 0 calc($pixel * -6) $pixel-border-3,
    0 calc($pixel * 15) 0 calc($pixel * -6) $pixel-border-3;
}

// CONTAINER CLIPS START

.clipped {
  // clip-path: polygon(
  //   20% 0%,
  //   80% 0%,
  //   100% 20%,
  //   100% 80%,
  //   80% 100%,
  //   20% 100%,
  //   0% 80%,
  //   0% 20%
  // );

  // clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /* Referencing the SVG clipPath */
  clip-path: polygon(
    55% 20%,
    70% 21%,
    100% 0%,
    92% 34%,
    100% 68%,
    50% 100%,
    0% 68%,
    8% 34%,
    0% 0%,
    34% 21%
  ); /* Referencing the SVG clipPath */
}

$black: #000;
$white: #fff;
$shadow: rgba(0, 0, 0, 0.1);

$px: 4px;
$bubble-border: 0 -1 * $px $white, 0 -2 * $px $black, $px 0 $white,
  $px -1 * $px $black, 2 * $px 0 $black, 0 $px $white, 0 2 * $px $black,
  -1 * $px 0 $white, -1 * $px $px $black, -2 * $px 0 $black,
  -1 * $px -1 * $px $black, $px $px $black;

.bubble {
  position: relative;
  display: inline-block;
  text-align: center;

  font-size: 8px;
  font-weight: 600;
  background-color: $white;
  color: $black;
  padding: 1px;
  box-shadow: $bubble-border;
  width: 120px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
  }

  &.shadow {
    box-shadow: $bubble-border, $px 3 * $px $shadow, 3 * $px $px $shadow,
      2 * $px 2 * $px $shadow;
  }

  &.mini {
    width: 110px;
    font-size: 16px;
    padding: 4px;
    font-family: monospace;
  }
  &.medium {
    width: 350px;
  }
  &.large {
    width: 560px;
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
  }
  &.grow {
    width: initial;
  }

  &.top::after {
    height: $px;
    width: $px;
    top: -2 * $px;
    left: 8 * $px;
    box-shadow: 0 -1 * $px $black, 0 -2 * $px $black, 0 -3 * $px $black,
      0 -4 * $px $black, -1 * $px -3 * $px $black, -2 * $px -2 * $px $black,
      -3 * $px -1 * $px $black, -1 * $px -1 * $px $white,
      -2 * $px -1 * $px $white, -1 * $px -2 * $px $white, -1 * $px 0 $white,
      -2 * $px 0 $white, -3 * $px 0 $white;
  }

  &.right::after {
    height: $px;
    width: $px;
    top: 21 * $px;
    right: -2 * $px;
    background: white;
    box-shadow: 1 * $px -1 * $px $white, 1 * $px 0 $white, 2 * $px 0 $white,
      0 -2 * $px $white, 1 * $px 1 * $px $black, 2 * $px 1 * $px $black,
      3 * $px 1 * $px $black, 4 * $px 1 * $px $black, 3 * $px 0 $black,
      2 * $px -1 * $px $black, 1 * $px -2 * $px $black, 0 -1 * $px $white;
  }

  &.bottom::after {
    height: $px;
    width: $px;
    bottom: -1 * $px;
    left: 8 * $px;
    box-shadow: 0 $px $black, 0 1 * $px $black, 0 2 * $px $black,
      0 3 * $px $black, -1 * $px 3 * $px $black, -2 * $px 2 * $px $black,
      -3 * $px 1 * $px $black, -1 * $px $px $white, -2 * $px $px $white,
      -1 * $px 2 * $px $white, -1 * $px 0 $white, -2 * $px 0 $white,
      -3 * $px 0 $white;
  }

  &.left::after {
    height: $px;
    width: $px;
    top: 5 * $px;
    left: -2 * $px;
    background: white;
    box-shadow: -1 * $px -1 * $px $white, -1 * $px 0 $white, -2 * $px 0 $white,
      0 -2 * $px $white, -1 * $px 1 * $px $black, -2 * $px 1 * $px $black,
      -3 * $px 1 * $px $black, -4 * $px 1 * $px $black, -3 * $px 0 $black,
      -2 * $px -1 * $px $black, -1 * $px -2 * $px $black, 0 -1 * $px $white;
  }
}

// REACT JOY START

.react-joyride__tooltip {
  font-family: "Passion One", sans-serif;
  font-size: 1.5rem !important;
  background-image: url(/backgrounds/bg-5.png) !important;
  background-size: cover !important;
  background-position: center !important;
  @apply rounded-2xl !important;

  button {
    font-size: 1.5rem !important;
    text-transform: uppercase !important;
  }
}

button.react-joyride__beacon {
  @apply bg-red-300 rounded-full w-14 h-14 !important;
}

// REACT JOY END
