@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

$breakpoints: (
  "mobile": 767px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
  "2xl": 1536px,
  "3xl": 2300px,
);
$custom-background: linear-gradient(90.26deg, #c1260f 0.34%, #ee642a 96.66%);

@mixin device($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}.";
  }
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #02020a;
  font-family: "Nunito", sans-serif;
  background: #FCECBB;
}

* {
  cursor: url('/cursor/cursor.png'),auto;
}
html {
  scroll-behavior: smooth;
}

.container {
  @apply m-auto max-w-[94rem] px-4 md:px-8 2xl:px-0;

  &.no-p {
    padding: 0 !important;
  }
  &.no-p-mobile {
    @include device(mobile) {
      padding: 0 !important;
    }
  }

  &.no-mb {
    margin-bottom: 0;
  }

  &.no-m {
    margin: 0;
  }
}

.container-padding {
  @apply px-4 md:px-8 2xl:px-0;
}

@keyframes transition-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.transition-animation {
  animation: transition-animation 1s ease-in;
}

/* TITLE */
.gradient-text {
  color: transparent;
  width: fit-content;
  background: conic-gradient(
    #7851a9 12%,
    #c8a2c8 12%,
    #9966cc 33%,
    #7851a9 33%,
    #6f2da8 55%,
    #9966cc 55%,
    #6f2da8 70%,
    #9966cc 70%,
    #c8a2c8 87%,
    #7851a9 87%
  );
  background-repeat: repeat;
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: expand-rev 3s ease forwards;
  animation-iteration-count: infinite;
}

@keyframes expand-rev {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}
/* TITLE END */

.core {
  inset: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-position: center;
}

// SWIPER STYLES

.swiper {
  width: 100%;
  padding-top: 10px !important;
  padding-bottom: 45px !important;

  @include device("md") {
    padding-top: 25px !important;
    padding-bottom: 50pxpx !important;
  }

  @include device("lg") {
    padding-top: 25px !important;
    padding-bottom: 75px !important;
  }

  @include device("2xl") {
    padding-top: 25px !important;
    padding-bottom: 75px !important;
  }

  @include device("3xl") {
    padding-top: 25px !important;
    padding-bottom: 150px !important;
  }
}

:root {
  --swiper-pagination-color: linear-gradient(
      90.26deg,
      #c1260f 0.34%,
      #ee642a 96.66%
    ),
    linear-gradient(0deg, #fff7f7, #fff7f7) !important;
  --swiper-navigation-color: #ffffff !important;
  --swiper-pagination-bullet-inactive-color: #9966cc !important;
  --swiper-pagination-bottom: 8px;
}

.default-slider {
  .swiper-slide {
    width: 75% !important;

    @include device(md) {
      width: 50% !important;
    }

    @include device(xl) {
      width: 40% !important;
    }

    @include device("2xl") {
      width: 30% !important;
    }

    @include device("3xl") {
      width: 25% !important;
    }
  }
}

.column-slider {
  .swiper-slide {
    @include device(md) {
      width: 75% !important;
    }

    @include device(xl) {
      width: 70% !important;
    }

    @include device("2xl") {
      width: 65% !important;
    }

    @include device("3xl") {
      width: 60% !important;
    }
  }
}
.swiper-pagination {
  margin-bottom: -10px !important;
  &-bullet {
    width: 15px !important;
    height: 15px !important;
  }
  &-bullet-active {
    width: 20px !important;
    height: 20px !important;
  }
}
// SWIPER STYLES END

// CUSTOM SCROLLBAR START

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #F0C5FD;
}

::-webkit-scrollbar-track {
  background: transparent;
}

// CUSTOM SCROLLBAR END

// COOL BORDER START

// COOL BORDER END

.animate-border {
  --border-angle: 0turn; // For animation.
  --main-bg: conic-gradient(
    from var(--border-angle),
    #EE642A,
    #C1260F 5%,
    #EE642A 60%,
    #8726B7 95%
  );

  border-radius: 2em;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #C1260F,
    #8726B7 99%,
    transparent
  );
  border: solid 5px transparent;
  @include device(md) {
    border: solid 10px transparent;
  }

  background: 
    // padding-box clip this background in to the overall element except the border.
    var(--main-bg) padding-box,
    // border-box extends this background to the border space
    var(--gradient-border) border-box,
    // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
    var(--main-bg) border-box;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  transform: translateY(6%);
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

//CUSTOM GRADIENT TEXT

.custom-gradient-text {
  background: -webkit-linear-gradient(90.26deg, #c1260f 0.34%, #ee642a 96.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover\:custom-gradient-text:hover {
  background: -webkit-linear-gradient(90.26deg, #c1260f 0.34%, #ee642a 96.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

$n: 20;

.slider-banner {
  height: 80px;
  margin: auto;
  overflow: hidden;
  width: 110%;
}
.slider {
  height: 80px;
  margin: auto;
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
}
.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * $n);
  overflow: hidden;

  &.inverse {
    animation: scroll-inverse 40s linear infinite;
  }
}
.slider .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 250px;
}
.slider:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent,
    transparent 10%,
    transparent 90%,
    transparent
  );
  z-index: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * $n/2));
  }
}
@keyframes scroll-inverse {
  0% {
    transform: translateX(calc(-250px * $n/2));
  }
  100% {
    transform: translateX(0);
  }
}
.animated-block {
  opacity: 1;
  animation: slide-in-up 2s forwards;
}
@keyframes slide-in-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  20% {
    opacity: 15%;
  }
  40% {
    opacity: 1;
    transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in {
  animation: fadeInAnimation 1.5s ease forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.invisible-block {
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.game-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.game-element {
  position: absolute;
  width: 64px;
  height: 64px;
}

:root {
  --grain: url("./grain.webp");
  --card-aspect: 0.718;
  --card-radius: 4.55% / 3.5%;
  --card-edge: hsl(47, 100%, 78%);
  --card-back: hsl(205, 100%, 25%);
  --card-glow: hsl(175, 100%, 90%);

  --sunpillar-1: hsl(2, 100%, 73%);
  --sunpillar-2: hsl(53, 100%, 69%);
  --sunpillar-3: hsl(93, 100%, 69%);
  --sunpillar-4: hsl(176, 100%, 76%);
  --sunpillar-5: hsl(228, 100%, 74%);
  --sunpillar-6: hsl(283, 100%, 73%);

  --sunpillar-clr-1: var(--sunpillar-1);
  --sunpillar-clr-2: var(--sunpillar-2);
  --sunpillar-clr-3: var(--sunpillar-3);
  --sunpillar-clr-4: var(--sunpillar-4);
  --sunpillar-clr-5: var(--sunpillar-5);
  --sunpillar-clr-6: var(--sunpillar-6);
}
.card.water {
  --card-glow: hsl(192, 97%, 60%);
}
.card.fire {
  --card-glow: hsl(9, 81%, 59%);
}
.card.wind {
  --card-glow: hsl(96, 81%, 65%);
}
.card.electric {
  --card-glow: hsl(54, 87%, 63%);
}
.card.dark {
  --card-glow: hsl(281, 62%, 58%);
}
.card.storm {
  --card-glow: hsl(189, 77%, 27%);
}
.card.metal {
  --card-glow: hsl(184, 20%, 70%);
}
.card.sand {
  --card-glow: hsl(51, 60%, 35%);
}

.card {
  -webkit-transform: translate3d(0px, 0px, 0.01px);
  transform: translate3d(0px, 0px, 0.01px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: calc(var(--card-scale) * 2);
  transition: transform 0.4s ease, opacity 0.4s ease;
  will-change: transform, visibility, z-index;
}

.card,
.card__rotator {
  border-radius: var(--card-radius);
}

.card.interacting {
  z-index: calc(var(--card-scale) * 120);
}

.card.active .card__translater,
.card.active .card__rotator {
  /* prevent pinch/double-tap zooms on card */
  touch-action: none;
}

.card__translater,
.card__rotator {
  display: grid;
  perspective: 600px;
  will-change: transform, box-shadow;
  transform-origin: center;
  -webkit-transform-origin: center;
}

.card__translater {
  width: auto;
  position: relative;
  -webkit-transform: translate3d(var(--translate-x), var(--translate-y), 0.1px)
    scale(var(--card-scale));
  transform: translate3d(var(--translate-x), var(--translate-y), 0.1px)
    scale(var(--card-scale));
}

.card__rotator {
  -webkit-transform: rotateY(var(--rotate-x)) rotateX(var(--rotate-y));
  -webkit-transform-style: preserve-3d;
  transform: rotateY(var(--rotate-x)) rotateX(var(--rotate-y));
  transform-style: preserve-3d;
  pointer-events: auto;
}

button.card__rotator {
  border: none;
  background: transparent;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
}

.card__rotator,
.card.active .card__rotator:focus {
  transition: box-shadow 0.4s ease, opacity 0.33s ease-out;
  box-shadow: 0 0 3px -1px transparent, 0 0 2px 1px transparent,
    0 0 5px 0px transparent, 0px 10px 20px -5px black, 0 2px 15px -5px black,
    0 0 20px 0px transparent;
}

.card.active .card__rotator,
.card__rotator:focus {
  box-shadow: 0 0 3px -1px white, 0 0 3px 1px var(--card-edge),
    0 0 12px 2px var(--card-glow), 0px 10px 20px -5px black,
    0 0 40px -30px var(--card-glow), 0 0 50px -20px var(--card-glow);
}
.card__rotator > * {
  border: 8px solid var(--card-glow);
  width: 100%;
  display: grid;
  grid-area: 1/1;
  aspect-ratio: var(--card-aspect);
  border-radius: var(--card-radius);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow: hidden;
}

.card__shine {
  display: grid;
  transform: translateZ(1px);
  overflow: hidden;
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: transparent;
  background-size: cover;
  background-position: center;
  filter: brightness(0.85) contrast(2.75) saturate(0.65);
  mix-blend-mode: color-dodge;
  opacity: var(--card-opacity);
}

.card__shine:before,
.card__shine:after {
  --sunpillar-clr-1: var(--sunpillar-5);
  --sunpillar-clr-2: var(--sunpillar-6);
  --sunpillar-clr-3: var(--sunpillar-1);
  --sunpillar-clr-4: var(--sunpillar-2);
  --sunpillar-clr-5: var(--sunpillar-3);
  --sunpillar-clr-6: var(--sunpillar-4);

  grid-area: 1/1;
  transform: translateZ(1px);
  border-radius: var(--card-radius);
}

.card__shine:after {
  --sunpillar-clr-1: var(--sunpillar-6);
  --sunpillar-clr-2: var(--sunpillar-1);
  --sunpillar-clr-3: var(--sunpillar-2);
  --sunpillar-clr-4: var(--sunpillar-3);
  --sunpillar-clr-5: var(--sunpillar-4);
  --sunpillar-clr-6: var(--sunpillar-5);

  transform: translateZ(1.2px);
}
.card__glare {
  /* make sure the glare doesn't clip */
  transform: translateZ(1.41px);
  overflow: hidden;

  background-image: radial-gradient(
    farthest-corner circle at var(--pointer-x) var(--pointer-y),
    hsl(0, 0%, 100%) 0%,
    hsla(210, 3%, 54%, 0.33) 45%,
    hsla(0, 0%, 20%, 0.9) 130%
  );

  opacity: calc(var(--card-opacity) * 0.5);
  mix-blend-mode: hard-light;
  filter: brightness(0.9) contrast(1.75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card__shine,
.card__shine:after {
  --space: 5%;
  --angle: 133deg;
  --imgsize: 500px;

  background-image: var(--grain),
    repeating-linear-gradient(
      0deg,
      var(--sunpillar-clr-1) calc(var(--space) * 1),
      var(--sunpillar-clr-2) calc(var(--space) * 2),
      var(--sunpillar-clr-3) calc(var(--space) * 3),
      var(--sunpillar-clr-4) calc(var(--space) * 4),
      var(--sunpillar-clr-5) calc(var(--space) * 5),
      var(--sunpillar-clr-6) calc(var(--space) * 6),
      var(--sunpillar-clr-1) calc(var(--space) * 7)
    ),
    repeating-linear-gradient(
      var(--angle),
      #0e152e 0%,
      hsl(180, 10%, 60%) 3.8%,
      hsl(180, 29%, 66%) 4.5%,
      hsl(180, 10%, 60%) 5.2%,
      #0e152e 10%,
      #0e152e 12%
    ),
    radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsla(0, 0%, 0%, 0.1) 12%,
      hsla(0, 0%, 0%, 0.15) 20%,
      hsla(0, 0%, 0%, 0.25) 120%
    );

  background-blend-mode: screen, hue, hard-light;
  background-size: var(--imgsize) 100%, 200% 700%, 300% 100%, 200% 100%;
  background-position: center, 0% var(--background-y),
    var(--background-x) var(--background-y),
    var(--background-x) var(--background-y);

  filter: brightness(0.7) contrast(2.95) saturate(0.65);
}
.card__glare {
  background-image: radial-gradient(
    farthest-corner circle at var(--pointer-x) var(--pointer-y),
    hsl(0, 0%, 100%) 0%,
    hsla(210, 3%, 54%, 0.33) 45%,
    hsla(0, 0%, 20%, 0.9) 130%
  );

  opacity: calc(var(--card-opacity) * 0.5);

  mix-blend-mode: hard-light;
  filter: brightness(0.9) contrast(1.75);
}
.text-outline {
  -webkit-text-stroke: 0.5px black;
}


// swipper override 
.swiper-slide-shadow-left, .swiper-slide-shadow-right {
  border-radius: 24px;
}
// swipper override end


// DISABLE SELECTION
*:not(input, textarea) {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
// DISABLE SELECTION END