@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

$breakpoints: (
  "mobile": 767px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
  "2xl": 1536px,
  "3xl": 2300px,
);
$custom-background: linear-gradient(90.26deg, #c1260f 0.34%, #ee642a 96.66%);

@mixin device($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}.";
  }
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;
  background: #02020a;
  font-family: "Space Mono", monospace;
}

* {
  cursor: url('/cursor/cursor.png'),auto;
}
html {
  scroll-behavior: smooth;
}

.title {
  font-family: "Orbitron", sans-serif;
}

.container {
  @apply m-auto max-w-[94rem] px-4 md:px-8 2xl:px-0;

  &.no-p {
    padding: 0 !important;
  }
  &.no-p-mobile {
    @include device(mobile) {
      padding: 0 !important;
    }
  }

  &.no-mb {
    margin-bottom: 0;
  }

  &.no-m {
    margin: 0;
  }
}

.container-padding {
  @apply px-4 md:px-8 2xl:px-0;
}

@keyframes transition-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.transition-animation {
  animation: transition-animation 1s ease-in;
}

/* TITLE */
.gradient-text {
  color: transparent;
  width: fit-content;
  background: conic-gradient(
    #7851a9 12%,
    #c8a2c8 12%,
    #9966cc 33%,
    #7851a9 33%,
    #6f2da8 55%,
    #9966cc 55%,
    #6f2da8 70%,
    #9966cc 70%,
    #c8a2c8 87%,
    #7851a9 87%
  );
  background-repeat: repeat;
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: expand-rev 3s ease forwards;
  animation-iteration-count: infinite;
}

@keyframes expand-rev {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 0;
  }
}
/* TITLE END */

.core {
  inset: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-position: center;
}

// SWIPER STYLES

.swiper {
  width: 100%;
  padding-top: 10px !important;
  padding-bottom: 30px !important;

  @include device("md") {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  @include device("lg") {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }

  @include device("2xl") {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }

  @include device("3xl") {
    padding-top: 75px !important;
    padding-bottom: 75px !important;
  }
}

:root {
  --swiper-pagination-color: linear-gradient(
      90.26deg,
      #c1260f 0.34%,
      #ee642a 96.66%
    ),
    linear-gradient(0deg, #fff7f7, #fff7f7) !important;
  --swiper-navigation-color: #ffffff !important;
  --swiper-pagination-bullet-inactive-color: #9966cc !important;
}

.default-slider {
  .swiper-slide {
    width: 75% !important;

    @include device(md) {
      width: 50% !important;
    }

    @include device(xl) {
      width: 40% !important;
    }

    @include device("2xl") {
      width: 30% !important;
    }

    @include device("3xl") {
      width: 25% !important;
    }
  }
}

.column-slider {
  .swiper-slide {
    @include device(md) {
      width: 75% !important;
    }

    @include device(xl) {
      width: 70% !important;
    }

    @include device("2xl") {
      width: 65% !important;
    }

    @include device("3xl") {
      width: 60% !important;
    }
  }
}
.swiper-pagination {
  margin-bottom: -10px !important;
  &-bullet {
    width: 15px !important;
    height: 15px !important;
  }
  &-bullet-active {
    width: 20px !important;
    height: 20px !important;
  }
}
// SWIPER STYLES END

// CUSTOM SCROLLBAR START

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #431c53a0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

// CUSTOM SCROLLBAR END

// COOL BORDER START

// COOL BORDER END

.animate-border {
  --border-angle: 0turn; // For animation.
  --main-bg: conic-gradient(
    from var(--border-angle),
    #EE642A,
    #C1260F 5%,
    #EE642A 60%,
    #8726B7 95%
  );

  border-radius: 2em;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 25%,
    #C1260F,
    #8726B7 99%,
    transparent
  );
  border: solid 5px transparent;
  @include device(md) {
    border: solid 10px transparent;
  }

  background: 
    // padding-box clip this background in to the overall element except the border.
    var(--main-bg) padding-box,
    // border-box extends this background to the border space
    var(--gradient-border) border-box,
    // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
    var(--main-bg) border-box;

  animation: bg-spin 3s linear infinite;
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  transform: translateY(6%);
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

//CUSTOM GRADIENT TEXT

.custom-gradient-text {
  background: -webkit-linear-gradient(90.26deg, #c1260f 0.34%, #ee642a 96.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover\:custom-gradient-text:hover {
  background: -webkit-linear-gradient(90.26deg, #c1260f 0.34%, #ee642a 96.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

$n: 20;

.slider-banner {
  height: 100px;
  margin: auto;
  overflow: hidden;
  width: 110%;
}
.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  width: 100%;
  max-width: 100vw;
}
.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * $n);
  overflow: hidden;

  &.inverse {
    animation: scroll-inverse 40s linear infinite;
  }
}
.slider .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 250px;
}
.slider:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    #02020a,
    transparent 10%,
    transparent 90%,
    #02020a
  );
  z-index: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * $n/2));
  }
}
@keyframes scroll-inverse {
  0% {
    transform: translateX(calc(-250px * $n/2));
  }
  100% {
    transform: translateX(0);
  }
}
.animated-block {
  opacity: 1;
  animation: slide-in-up 2s forwards;
}
@keyframes slide-in-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  20% {
    opacity: 15%;
  }
  40% {
    opacity: 1;
    transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in {
  animation: fadeInAnimation 1.5s ease forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.invisible-block {
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
